{%  extends "/layout/base.html.twig" %}
{# Listes des chises à faire avant de mourir #}

{# Lien au stylesheet #}
{%  block stylesheet %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Titre de nav #}
{% block mainTitle %}
    <img src="/images/logo.png"/>
    My Bucket-List
{% endblock %}

{# Contenu #}
{% block content  %}
    <h1>Ajouter une idée</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages  %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="formulaireAjout">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type ="submit" name="ajout" value="Ajouter une idée"/>
        {{ form_end(form) }}
    </div>


{% endblock %}

{# Footer #}
{%  block footer %}
    <h5>@Bucket-List {{ "now" |date('Y') }}</h5>
    <a class="nav-link" href="{{path('app_legal')}}">Mentions Légales</a>
{% endblock %}